html, body{
    height: 100%;
}
.f-s-180 {
	font-size: 180%;

}


.btn-bgcolor-blue {
	background-color: rgb(0, 127, 255);
	width: 150px;
}

.btn-bgcolor-grey {
	background-color: grey;
	width: 150px;
	margin-left: 15px;
}
.btn-bgcolor-blue3 {
	background-color: grey;
	width: 70%;
	margin-left: 15px; 
}
.btn-bgcolor-blue4 {
	background-color: rgb(0, 127, 255);
	width: 370px;
	margin-left: 15px;
}
@media (min-width: 769px) {
    #btn4{
        width: 21%;
    }
}

@media (max-width: 768px) {
    #btn4{
        width: 40%;
        margin-left: 4px;
    }
}

@media (min-width: 769px) {
    #btn3{
        width: 20%;
    }
}

@media (max-width: 768px) {
    #btn3{
        width: 44%;
    }
}
.btn_marge {
	margin-bottom: 37px; 
}

.arrow-down {
	text-align: center;
	color: white;

}

.m-t-5 {

	margin-bottom: 5%;
}

a#cRetour{
  border-radius:3px;
  padding:10px;
  font-size:15px;
  text-align:center;
  color: grey;
  background:rgba(0, 0, 0, 0.25);
  position:fixed;
  right:20px;
  opacity:1;
  z-index:99999;
  transition:all ease-in 0.2s;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}
a#cRetour:before{ content: "\25b2"; }
a#cRetour:hover{
  background:rgba(0, 0, 0, 1);
  transition:all ease-in 0.2s;
}
a#cRetour.cInvisible{
  bottom:-35px;
  opacity:0;
  transition:all ease-in 0.5s;
}

a#cRetour.cVisible{
  bottom:20px;
  opacity:1;
}

#searchModal .modal-dialog {
  width: auto; }
  @media (min-width: 768px) {
    #searchModal .modal-dialog {
      width: 380px; } }

#searchModal .modal-title {
  font-weight: 500; }

#searchModal .modal-header {
  padding: 30px; }
  #searchModal .modal-header .close {
    color: #222222;
    opacity: 1; }

#searchModal .modal-body {
  padding: 15px 30px; }

#searchModal .modal-footer {
  text-align: center;
  padding: 20px 30px; }
  #searchModal .modal-footer p {
    margin-bottom: 0; }

    #searchModal2 .modal-dialog {
  width: auto; }
  @media (min-width: 768px) {
    #searchModal2 .modal-dialog {
      width: 380px; } }

#searchModal2 .modal-title {
  font-weight: 500; }

#searchModa2 .modal-header {
  padding: 30px; }
  #searchModal2 .modal-header .close {
    color: #222222;
    opacity: 1; }

#searchModal2 .modal-body {
  padding: 15px 30px; }

#searchModal2 .modal-footer {
  text-align: center;
  padding: 20px 30px; }
  #searchModal2 .modal-footer p {
    margin-bottom: 0; }
  .logo{
      margin-top: 40%;
  }
@media (max-width: 768px) {
    .logo{
        display: none;
    }
}

.profileSection2 {
    padding-top: 30%;

}
@media (min-width: 768px) {
    .profileSection2 {
        padding: 60px 0;
        padding-top: 8%;
    } }


@media (max-width: 768px) {
    #formType{
        width: 74%;
    }
}
@media (min-width: 769px) {
    #formType{
        width: 137%;
    }
}
@media (min-width: 769px) {
    #formCity{
        width: 128%;
    }
}
@media (max-width: 768px) {
    #formCity{
        width: 54%;
    }
}

@media (min-width: 769px) {
    #Detailmonument {
        padding: 145px 0; } }

@media (max-width: 768px) {
    #Detailmonument {
        padding-top: 25%; } }


@media (max-width: 768px) {
    #mapDetailMonument {
        width: 438px; } }

@media (max-width: 768px) {
    #locationMonuDetail {
        margin-top: 2%; } }

.imgCarousel {
    margin-left:40% !important;
    width: 300px !important;;
    height: 300px !important;;
}
.h-350{
    height:350px;
}
.arrow{
background-color: black !important;
}
.arrow:hover{
background-color: #2196f3 !important;
}
.rating {
    width: 226px;
    margin: 0 auto 1em;
    font-size: 45px;
    overflow:hidden;
}
.rating input {
    float: right;
    opacity: 0;
    position: absolute;
}
.rating a,
.rating label {
    float:right;
    color: #aaa;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
.rating input:checked ~ label,


.rating label:hover ~ label,
.rating input:focus ~ label,
.rating label:hover,
.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
    color: orange;
    cursor: pointer;

}
.rating2 {
    direction: rtl;
}
.rating2 a {
    float:none
}


#dropLogout {
    border: 2px solid #ffffff;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.7);

}

#colorDrop {
    color: white;
}

/* ================ Congrat Modal ==================== */

@media (min-width: 769px) {
    #congratModal{
        margin-top: 12%;
    }
}

/* ================ Congrat Modal ==================== */

@media (min-width: 769px) {
    #congratModal{
        margin-top: 12%;
    }
}

@media (max-width: 768px) {
    #congratModal{
        margin-top: 50%;
    }
}


#footer {
    color: white;
}




