  <!DOCTYPE html>
  <html lang="en">
  <head>


  <!-- SITE TITTLE -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Home - Listty</title>

  <!-- PLUGINS CSS STYLE -->
  <link href="../plugins/bootstrap/css/bootstrap.css" rel="stylesheet">
  


    <!-- CUSTOM CSS -->
  <link href="../css/style.css" rel="stylesheet">
  <link href="../views/style.css" rel="stylesheet">
 




<!-- TOP INFO BAR -->

      <div class="nav-wrapper">

        <!-- NAVBAR -->
        <nav id="menuBar" class="navbar navbar-default lightHeader" role="navigation">
          <div class="container">

            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="index-2.html"><img src="logo a mettre" alt="logo"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
              <ul class="nav navbar-nav navbar-right">
                  <li class="active dropdown singleDrop">
                      <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">home <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="index.html">MAPS</a></li>
                    <li><a href="index-2.html">HOME</a></li>
                    <li><a href="index-3.html">faut qu'on trouve quoi mettre , peut être supprimer ?</a></li>
                  </ul>
                </li>
                <li class=" dropdown megaDropMenu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Listing <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="row dropdown-menu">
                    <li class="col-sm-4 col-xs-12">
                      <ul class="list-unstyled">
                          <li><h5>listing Grids</h5></li>
                          <li><a href="category-grid.html">Listing Grid Left</a></li>
                          <li><a href="category-grid-right.html">Listing Grid Right</a></li>
                          <li><a href="category-grid-full.html">Listing Grid Fullwidth</a></li>
                          <li><h5>listing lists</h5></li>
                          <li><a href="category-list-left.html">Listing list Left</a></li>
                          <li><a href="category-list-right.html">Listing list Right</a></li>
                          <li><a href="category-list-full.html">Listing list Full</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-4 col-xs-12">
                      <ul class="list-unstyled">
                          <li><h5>listing Sidebar Map</h5></li>
                          <li><a href="listing-sidebar-map-left.html">Listing Sidebar Map left</a></li>
                          <li><a href="listing-sidebar-map-right.html">Listing Sidebar Map right</a></li>
                          <li><a href="listing-sidebar-map-full.html">Listing Sidebar Map Full</a></li>
                          <li><h5>listing Details</h5></li>
                          <li><a href="listing-details-left.html">Listing Details Left</a></li>
                          <li><a href="listing-details-right.html">Listing Details Right</a></li>
                          <li><a href="listing-details-full.html">Listing Details Full</a></li>
                      </ul>
                    </li>
                    <li class="col-sm-4 col-xs-12">
                      <ul class="list-unstyled">
                          <li class="mega-img">
                              <a href=""><img src="../img/works/works-big-3.png" alt=""></a>
                          </li>
                      </ul>
                    </li>
                  </ul>

                </li>
                <li class=" dropdown singleDrop">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">pages <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu dropdown-menu-left">
                      <li><a href="contact-us.html">Contact Us</a></li>
                      <li><a href="terms-of-services.html">Terms and Conditions</a></li>
                      <li><a href="sign-up.html">Create Account</a></li>
                      <li><a href="login.html">Login</a></li>
                      <li><a href="pricing-table.html">Pricing</a></li>
                      <li><a href="payment-process.html">Payment</a></li>
                      <li><a href="how-it-works.html">How It Works</a></li>
                  </ul>
                </li>
                <li class=""><a href="blog.html">blog </a></li>
                <li class=" dropdown singleDrop">
                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">admin <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                      <li><a href="dashboard.html">Dashboard</a></li>
                      <li><a href="add-listings.html">Add Listing</a></li>
                      <li><a href="edit-listings.html">Edit Listing</a></li>
                      <li><a href="listings.html">My Listings</a></li>
                      <li><a href="profile.html">My Profile</a></li>
                      <li><a href="oders.html">My Orders</a></li>
                  </ul>
                </li>
              </ul>
            </div>
            <button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#loginModal"> + <span>Add Listing</span> </button>
          </div>
        </nav>
      </div>
    </header>
<!-- BANNER SECTION -->
<section class="clearfix homeBanner" style="background-image: url(../img/banner/banner1.jpg); padding: 0; " >
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="banerInfo" style="padding-top: 175px">
          <h1>Explore. Discover. Share</h1>
          <p>Listty helps to find out great things arround you</p>
            <div class="m-t-5">
              <button id="btn2" class="btn btn-success btn-bgcolor-blue">With Name</button>
            <button id="btn1" class="btn btn-success btn-bgcolor-grey">With Type/City</button>
                </div>
          <form class="form-inline hide" action="index.html" method="GET" id="form1"><!-- La EXCEPTIONNELLEMNT ON LE MET EN GET-->
            <div class="form-group" id="divcity">
              <div class="input-group">
                <div class="input-group-addon">City</div> <!-- METTRE UN NAME OBLIGATOIRE !!!! LA MAJUSCULE -->
                <!--<input type="text" class="form-control" name="city" id="findItem" placeholder="What are you looking for?">-->
                <select class="form-control" name="city" name="city">
                  <option>City 1 </option>
                  <option>City 2 </option>
                  <option>City 3 </option>
                </select>
                <div class="input-group-addon addon-right"></div>
              </div>
            </div>
            <div class="form-group" id="divtype">
              <div class="input-group">
                <div class="input-group-addon">Type</div>
                <!-- <input type="text" class="form-control" name="type" id="nearLocation" placeholder="Type of monument"> -->
                <select class="form-control" name="type" name="type">
                  <option>Type 1 </option>
                  <option>Type 2 </option>
                  <option>Type 3 </option>
                </select>
                <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" id="btnsearch1">Search <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
          <form class="form-inline " action="index.html" method="GET" id="form2"><!-- La EXCEPTIONNELLEMNT ON LE MET EN GET-->
            <div class="form-group" id="divname">
              <div class="input-group">
                <div class="input-group-addon">Name</div>
                <input type="text" class="form-control" name="name" id="nearLocation" placeholder="Name">
                <div class="input-group-addon addon-right"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
              </div>
            </div>
              <button type="submit" class="btn btn-primary" id="btnsearch2">Search <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col arrow-down">
        <a href="#start-page" class="arrow-down" >
          <i class="fa fa-arrow-circle-down fa-5x" aria-hidden="true" style="margin-top: 17% "></i>
        </a>
      </div>
      <div class="col"></div>
    </div>
  </div>
</section>

<!-- JAVASCRIPTS -->
  <script type="text/javascript">

  $("#btn2").click(function(){
  $("#form2").removeClass("hide");
  $("#form1").addClass("hide");
  $("#btnsearch2").removeClass("hide");
  $("#btnsearch1").addClass("hide");
});
  $("#btn1").click(function(){
  $("#form2").addClass("hide");
  $("#form1").removeClass("hide");
  $("#btnsearch1").removeClass("hide");
  $("#btnsearch2").addClass("hide");
});
  $("#back2").click(function(){
  $("#form2").addClass("hide");
  $("#btn2").show();
  $("#btn1").show();

});
  $("#back1").click(function(){
  $("#form1").addClass("hide");
  $("#btn2").show();
  $("#btn1").show();

});

  </script>

</body>

</html>