{% extends 'menu.html.twig' %}
{% block content %}
<!-- MAP SECTION -->
<section class="clearfix p0">
	<div id="map-canvas"></div>
</section>

<!-- CATEGORY SEARCH SECTION -->
<section class="clearfix searchArea banerInfo" style="padding: 1%; ">
	<div>
		<button id="btn4" class="btn btn-primary btn-bgcolor-blue4" style="width: 20%;" data-toggle="modal" data-target="#searchModal">With Name</button>
		<button id="btn3" class="btn btn-primary btn-bgcolor-blue3" style="width: 20%;" data-toggle="modal" data-target="#searchModal2">With Type/City</button>
	</div>
	
</section>

<!-- THINGS SECTION -->
<section class="clearfix thingsArea">
	<div class="container">
		<div class="page-header text-center">
			<h2>Popular Things Near You <small>This are some of most popular listing</small></h2>
		</div>
		<div class="row">
            {% for Monument in Monument %}
			<div class="col-md-4 col-sm-6 col-xs-12">
				<div class="thingsBox thinsSpace">
					<div class="thingsImage">
						<img src="{{ path }}img/things/things-1.jpg" alt="Image things">
						<div class="thingsMask">
							<ul class="list-inline rating">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
							</ul>
							<a href="blog-details.html"><h2>{{ Monument.Name }} <i class="fa fa-check-circle" aria-hidden="true"></i></h2></a>
							<p>{{ Monument.Lat }} -- {{ Monument.Lon }}</p>
						</div>
					</div>
					<div class="thingsCaption ">
						<ul class="list-inline captionItem">
							<li><i class="fa fa-heart-o" aria-hidden="true"></i> 10 k</li>
							<li><a href="category-list-full.html">Hotel, Restaurant</a></li>
						</ul>
					</div>
				</div>
			</div>
{% endfor %}


			<div class="col-xs-12">
				<div class="btnArea btnAreaBorder text-center">
					<a href="category-grid-full.html" class="btn btn-primary">Explore More</a>
				</div>
			</div>
		</div>
	</div>
</section>

    <!-- FOOTER -->
    <footer class="footerWhite">
      <!-- FOOTER INFO -->
      <div class="clearfix footerInfo">
        <div class="container">
          <div class="row">
            <div class="col-sm-7 col-xs-12">
              <div class="footerText">
                <a href="index.html" class="footerLogo"><img src="https://passion-stickers.com/1532-1653-large_default/stickers-mural-paris-tour-eiffel.jpg" alt="Footer Logo"></a>
                <p>This site allows visitors to make visiting the monuments of Paris easier. If a monument is missing or if you have any ideas for improvement, do not hesitate to contact us through the link below ;)</p>
                <ul class="list-styled list-contact">
                  <li><i class="fa fa-phone" aria-hidden="true"></i>06.11.21.90.67</li>
                  <li><i class="fa fa-envelope" aria-hidden="true"></i><a href="#">contact@lesbogoss.com</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-3 col-xs-12">
              <div class="footerInfoTitle">
                <h4>Links</h4>
              </div>
              <div class="useLink">
                <ul class="list-unstyled">
                  <li><a href="dashboard.html">Dashboard</a></li>
                  <li><a href="sign-up.html">Create Account</a></li>
                  <li><a href="login.html">Login</a></li>
                  <li><a href="add-listings.html">Add Listing</a></li>
                  <li><a href="edit-listings.html">Edit Listing</a></li>
                </ul>
              </div>
            </div>
            <div class="col-sm-2 col-xs-12">
              <div class="footerInfoTitle">
                <h4>Company</h4>
              </div>
              <div class="useLink">
                <ul class="list-unstyled">
                  <li><a href="contact-us.html">Contact Us</a></li>
                  <li><a href="terms-of-services.html">Terms and Conditions</a></li>
                  <li><a href="how-it-works.html">How It Works</a></li>
                  <li><a href="pricing-table.html">Pricing</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

  <!-- LOGIN  MODAL -->
  <div id="loginModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Log In to your Account</h4>
        </div>
        <div class="modal-body">
          <form class="loginForm">
            <div class="form-group">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <input type="email" class="form-control" id="email" placeholder="Email">
            </div>
            <div class="form-group">
              <i class="fa fa-lock" aria-hidden="true"></i>
              <input type="password" class="form-control" id="pwd" placeholder="Password">
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Log In</button>
            </div>
            <div class="checkbox">
              <label><input type="checkbox"> Remember me</label>
              <a href="#" class="pull-right link">Fogot Password?</a>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <p>Don’t have an Account? <a href="#" class="link">Sign up</a></p>
        </div>
      </div>

    </div>
  </div>
<!-- SEARCH  MODAL -->
<div id="searchModal" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Looking for another monument? That's not a problem!</h4>
        </div>
        <div class="modal-body">
         <form class="form-inline form-group " action="index.html" method="GET" id="form2" style="margin-top: 6%"><!-- La EXCEPTIONNELLEMNT ON LE MET EN GET-->
						<div class="form-group" id="divname">
							<div class="input-group">
								<div class="input-group-addon">Name</div>
								<input type="text" class="form-control" name="name" id="nearLocation" placeholder="Name">
								<div class="input-group-addon addon-right" style="width: 10%;"><i class="icon-listy icon-target" aria-hidden="true"></i></div>
							</div>
						</div>
							<button type="submit" class="btn btn-primary" id="btnsearch2" style="margin-top: 10%; margin-left: 25%;">Search <i class="fa fa-search" aria-hidden="true" ></i></button>
					</form>
        </div>
      </div>

    </div>
  </div>
<!-- SEARCH  MODAL 2 -->
<div id="searchModal2" tabindex="-1" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Looking for another monument? That's not a problem!</h4>
        </div>
        <div class="modal-body">
         <form class="form-inline form-group" action="index.html" method="GET" id="form1"><!-- La EXCEPTIONNELLEMNT ON LE MET EN GET-->
            <div class="form-group" id="divcity">
              <div class="input-group" style="width: 180%; padding-top: 10%">
                <div class="input-group-addon" >City</div> <!-- METTRE UN NAME OBLIGATOIRE !!!! LA MAJUSCULE -->
                <!--<input type="text" class="form-control" name="city" id="findItem" placeholder="What are you looking for?">-->
                <select class="form-control" name="city" name="city" >
                  <option>City 1 </option>
                  <option>City 2 </option>
                  <option>City 3 </option>
                </select>
                <div class="input-group-addon addon-right" ></div>
              </div>
            </div>
            <div class="form-group" id="divtype">
              <div class="input-group" style="width: 160%; padding-top: 15%; padding-bottom: 15%; ">
                <div class="input-group-addon" >Type</div>
                <!-- <input type="text" class="form-control" name="type" id="nearLocation" placeholder="Type of monument"> -->
                <select class="form-control" name="type" name="type" style="width: 107%;">
                  <option>Type 1 </option>
                  <option>Type 2 </option>
                  <option>Type 3 </option>
                </select>
                <div class="input-group-addon addon-right" style="width: 19%; "></div>
              </div>
            </div>
            <button type="submit" class="btn btn-primary" id="btnsearch1" style="margin-left: 24%; ">Search <i class="fa fa-search" aria-hidden="true"></i></button>
          </form>
        </div>
      </div>

    </div>
  </div>

 {% endblock %}
 {% block script %}
  <script type="text/javascript">

$("#btn4").click(function(){
	$("#form4").removeClass("hide");
	$("#form3").addClass("hide");
	$("#btnsearch4").removeClass("hide");
	$("#btnsearch3").addClass("hide");
});
	$("#btn3").click(function(){
	$("#form4").addClass("hide");
	$("#form3").removeClass("hide");
	$("#btnsearch3").removeClass("hide");
	$("#btnsearch4").addClass("hide");
});


</script>

{% endblock %}
